services:
  mongo:
    image: mongo:7.0
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  predict:
    build: ./predict_in
    image: predict:1.0
    container_name: predict
    restart: unless-stopped
    depends_on:
      - mongo
    env_file:
      - .env.docker
    ports:
      - "3002:3002"

volumes:
  mongo-data:
